<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="{{title}}">
	<title>{{title}}</title>
</head>
<body>
	<section class="content" >
		<h1>{{title}}</h1>
		<p>{{text}}</p>
        <p><a href = "http://localhost:3000/{{link}}">http://localhost:3000/{{link}}</a></p>
	</section>
</body>
</html>